<!DOCTYPE html>
<html>
  <head>
    <title>PlanningPoker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-900 text-slate-400">
    <main class="container mx-auto mt-8 px-5">
      <h1 class="block mt-6 text-[2.5rem] leading-none tracking-tight font-bold text-white text-center w-full"> Planning Poker </h1>
      <%= yield %>
    </main>
  </body>
</html>
